.photoCircle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 20px;
}
.leftSection {
    width: 45vw;
}
.zigzag {
    color: $highlightPink;
    font-size: 3rem;
    margin-top: 30px;
    margin-bottom: 10px;
}
.rightSection {
    width: 55vw;
    padding: 0 100px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
}
.textBlockGroup {
    align-items: flex-start;
}
.textBlock {
    // margin-bottom: 60px;
    
}
.hoverShowCard {
    width: 30vw;
    height: 50px;

    overflow: hidden;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;

    transition: height 1s ease-in-out;
    
}
.showCard {
    display:none;
}
.hoverShowCard:hover {
    height: 150px;

}
.hoverShowCard:hover .showCard {
    display: block;
}
.hoverShowCard:hover .subHeaderText {
    color: $highlightPink;
}
.cardText {
    margin-left: 20px;
    text-align: center;
}

@-webkit-keyframes stretchout {
    from {
        width: 170px;
        height: 80px;
    }
    to {
        width: calc(55vw - 200px);
        height: 150px;
    }
}
@keyframes stretchout {
    from {
        width: 170px;
        height: 80px;
    }
    to {
        width: calc(55vw - 200px);
        height: 150px;
    }
}
.headlineText {
    font-family: $textFont;
    font-size: 2.8rem;
    margin-bottom: 70px;
    color: $mainGray;
    span {
        font-size: 4rem;
        font-family: $emphFont;
        color: $highlightPink;
    }
}    
.subHeaderText {
    font-family: $textFont;
    font-size: 1.5rem;
    color: $lightGray;
    margin-bottom: 15px;
    text-align: center;
    text-decoration: underline dotted $highlightPink;
}
.supportText {    
    font-family: $textFont;
    font-size: 1rem;
}
#aboutSection {
    display: flex;
    flex-flow: row nowrap;
}
@media screen and (max-width: 1243px) {
    #aboutSection {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    .headlineText {
        text-align: center;
        margin-top: 50px;
    }
    .rightSection {
        align-items: center;
        padding: 0px;
    }
    .hoverShowCard {
        width: 60vw;
    }
}

@media screen and (max-width: 500px) {
    .headlineText {
        font-size: 1.8rem;
        span {
            font-size: 2.5rem;
            font-family: $emphFont;
            color: $highlightPink;
        }
    }
    .subHeaderText {
        font-size: 1.2rem;
    }
    .hoverShowCard {
        width: 80vw;
    }
    .hoverShowCard:hover {
        height: 185px;
    }
}