.connectCard {
    width: 300px;
    height: 100px;
    box-shadow: 2px 5px 10px 0 rgba(38, 34, 21, 0.4);
    border-radius: 2px;
    font-size: 2rem;
    font-family: $textFont;
    font-weight: 400;
    color: $lighterGray;

    margin-right: 20px;
    margin-bottom: 30px;

    transition: all 0.3s ease-in;
    i {
        margin-right: 20px;
        font-size: 4rem;
        
    }

}
.connectCard:hover {
    background-color: $mainYellow;
    color: $mainGray;
}
.connectCardGroup {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.linkedinIcon {
    color:#0076b5;
}
.iconBk {
    color: black;
}

.connectHeader {
    font-family: $emphFont;
    font-weight: 700;
    font-size: 4rem;
    color: $highlightPink;
    margin-bottom: 100px;
    text-align: center;
}
.connectLines{
    height: 1px;
    border: 1px solid $mainYellow;
    width: 98vw;
    transform: rotate(1deg);
    &:nth-child(2) {
        transform: rotate(2deg);
    }
    &:nth-child(3) {
        transform: rotate(-2deg);
    }
    &:nth-child(4) {
        transform: rotate(4deg);
    }
}
.lineGroup {
    margin: 50px auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}


@media screen and (max-width: 776px) {
    .connectCard {
        width: 300px;
        height: 100px;
        font-size: 1.5rem;
        margin-right: 0px;
        i {
            font-size: 3rem;
        }
    }
    .connectCardGroup {
        flex-direction: column;
    }   
}