.introText {
    color: $mainGray;
    font-size: 4rem;
    font-family: 'Montserrat-Medium';
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
    &__placeholder {
        // height: 78px;
        width: 500px;
        margin-left: 40px;

    }
    &__static {
        display: block;
        color: $highlightPink;
        position: absolute;
        top: -30px;
        left: 0px;
        font-size: 7rem;
    }
    &__animated {
        display: flex;
        align-items: center;
        color: $highlightPink;
        position: absolute;
        top: -50px;
        left: 0px;
        font-size: 7rem;
        background-color:$mainYellow;
        width: 500px;
        height: 165px;
        animation-name: slideup;
        animation-duration: 0.5s; 
        animation-timing-function: linear; 
        animation-fill-mode: both;
        text-transform: lowercase;
        &:nth-child(2) {
            animation-delay: 1.5s;
        }
        &:nth-child(3) {
            animation-delay: 2.5s;
        }
        &:nth-child(4) {
            animation-delay: 3.5s;
        }
        &:nth-child(5) {
            display: block;
            top: -10px;
            animation-delay: 4.5s;
            animation-duration: 0.9s; 
        }
        
    }
}
@-webkit-keyframes slideup {
    from {
        line-height: 20px;
        padding-top: 120px;
        opacity: 0;
    }
    to {
        line-height: 84px;
        padding-top: 0px;
        opacity: 1;
    }
}
@keyframes slideup {
    from {
        line-height: 20px;
        padding-top: 120px;
        opacity: 0;
    }
    to {
        line-height: 84px;
        padding-top: 0px;
        opacity: 1;
    }
}

.colorBlockDiv  {
    background-color: $mainYellow;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    i {
        position: absolute;
        bottom: 20px;
        color: #fcf3e4;
        font-size: 2rem;
    }
    margin-bottom: 50px;
}

.emphTextLarge {
    font-size: 7rem;
}

.marginBuffer {
    margin: 20px 0px 0px 120px;
}


@media screen and (max-width: 1243px) {
    .introText {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 150px;
        &__placeholder {
            // height: 78px;
            width: 500px;
            margin-top: 60px;
        }
        &__animated {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 165px;
        }
        &__static {
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }
}

@media screen and (max-width: 750px) {
    .introText {
        font-size: 3rem;
        &__animated {
            font-size: 5.5rem;
            width: 400px;
            top: -30px;
            left: 0px;
            height: 165px;
        }
        &__static {
            font-size: 5.5rem;
            top: 0px;
            left: 35px;
        }
        &__placeholder {
            // height: 60px;
            width: 400px;
            margin-top: 30px;
            margin-left: 0;
        }
    }
    .emphTextLarge {
        font-size: 5.5rem;
    }
    
}

@media screen and (max-width: 500px) {
    .introText {
        font-size: 2.5rem;
        &__animated {
            font-size: 3.5rem;
            width: 300px;
            height: 130px;
        }
        &__static {
            font-size: 3.5rem;
        }
        &__placeholder {
            // height: 78px;
            width: 300px;
            margin-top: 30px;
        }
    }
    .emphTextLarge {
        font-size: 3.5rem;
    }
    .marginBuffer {
        margin: 0px 0px 0px 90px;
    }
}

@media screen and (max-width: 400px) {
    .introText {
        font-size: 2rem;
        margin-bottom: 80px; 
        &__animated {
            font-size: 3rem;
            width: 250px;
            height: 100px;
        }
        &__static {
            font-size: 3rem;
        }
        &__placeholder {
            height: 78px;
            width: 250px;
            margin-top: 30px;
        }
    }
    .emphTextLarge {
        font-size: 3rem;
    }
    .marginBuffer {
        margin: -20px 0px 0px 90px;
    }
}