.projectPhotoCircle {
    width: 30vw;
    height: 30vw;
    max-width: 400px;
    max-height: 400px;
    border-radius: 50%;
    overflow: hidden;
    
    img {
        height: 100%;
        width: auto;
    }

}
.outerCircle {
    width: 33vw;
    height: 33vw;
    max-width: 420px;
    max-height: 420px;
    border-radius: 50%;
    border: 1px solid $mainYellow;
    box-sizing: border-box;
}
.horizontalLine {
    height:1px;
    border-bottom: 1px solid $mainYellow;
    width: 15vw;
    max-width: 400px;
}
.projectDot {
    background-color: $highlightPink;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.projectDescription {
    margin-left: 20px;
}
.projectItem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    &__body {
        width: 400px;
        font-size: 1.2rem;
        font-family: $textFont;
        font-weight: 400;
    }
    &__stack {
        margin-top: 20px;
        width: 400px;
        font-size: 1rem;
        font-family: $textFont;
        font-weight: 400;
        color: $lightGray;

        span {
            font-weight: 500;
        }
    }
    &__header {
        justify-content: flex-start;
        align-items: flex-end;
        margin-bottom: 20px;
    }
    &__headerText {
        color: $lighterGray;
        font-size: 2rem;
        font-family: $textFont;
        font-weight: 400;
        margin-right: 30px;
    }
}
.projLink {
    margin-right: 20px;
}

.headerText {
    font-family: $emphFont;
    font-weight: 700;
    font-size: 4.8rem;
    color: $highlightPink;
    margin-bottom: 150px;
    text-align: center;
}

@media screen and (max-width: 1243px) {
    .projectItem {
        flex-direction: column;
    }
    .horizontalLine {
        width:1px;
        height: 100px;
        border-right: 1px solid $mainYellow;
        
    }
    .headerText {
        font-size: 3.8rem;
    }
    .projectItem {
        &__headerText {
        font-size: 1.5rem;
        }
        &__body {
            width: 400px;
            font-size: 1rem;
            font-family: $textFont;
            font-weight: 400;
        }
        &__stack{
            font-size: 0.8rem;
        }
    }
    .projectDot {
        width: 15px;
        height: 15px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 600px) {
    .projectPhotoCircle {
        width: 40vw;
        height: 40vw;
    }
    .outerCircle {
        width: 43vw;
        height: 43vw;
    }
    .headerText {
        font-size: 2.8rem;
        margin-bottom: 100px;
    }
    .projectItem {
        &__headerText {
        font-size: 1.2rem;
        }
        &__body {
            width: 300px;
            font-size: 1rem;
            font-family: $textFont;
            font-weight: 400;
        }
        &__stack {
            width: 300px;
        }
    }
    .projLink {
        margin-right: 10px;
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 400px) {
    .projectPhotoCircle {
        width: 50vw;
        height: 50vw;
    }
    .outerCircle {
        width: 52vw;
        height: 52vw;
    }
    .projectItem {
        &__body {
            width: 250px;
        }
        &__stak {
            width: 250px;
        }
    }
    .projectDot {
        width: 15px;
        height: 15px;
        margin-bottom: 10px;
    }
}