$mainYellow: #fac055;
$textYellow: #faab19;

$mainGray: #463B3D;
$lightGray: #6E6B6B;
$lighterGray: #AEA6A8;
$highlightPink: #FC5577;
$emphFont: 'Caveat-Bold';
$textFont: 'Montserrat-Regular';
$textMed: 'Montserrat-Medium';
$textBold: 'Montserrat-Bold';