.clickable, .link {
   cursor: pointer; 
}
.hoverPink:hover {
    color: $highlightPink;
    cursor: pointer;
}
.link {
    font-family: $textFont;
}
.linkPink {
    color: $highlightPink;
}
.link:hover {
    text-decoration: underline;;
}

.hidden {
    display: none;
}

.posRel {
    position: relative;
}


.sectionBuff {
    padding: 100px 100px 100px 100px;
}
// container flex 
.flexContainerRow {
    display: flex;
    flex-direction: row;
}
.flexContainerColumn {
    display: flex;
    flex-direction: column;
}
.flexWrap {
    flex-wrap: wrap;
}
.flexStartAlign {
    justify-content: flex-start;
    align-items: flex-start;
}
.flexCenterAlign {
    justify-content: center;
    align-items: center;
}
.flexTopMidAlign {
    justify-content: flex-start;
    align-items: center;
}

//buttons 
.btn {
    cursor: pointer;
    border: 1px solid $mainYellow;
    border-radius: 10px;
    width: 180px;
    height: 50px;
    color: $textYellow;
    font-family: $textMed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnHoverYellow {
    border-color: $mainYellow;
    color: $textYellow;
    transition: all 0.3s ease-in;
}   
.btnHoverYellow:hover {
    background-color: $mainYellow;
    color: $mainGray;
}

.headerDivider {
    // height: 5px;
    // width: 50px;
    // border: 3px solid #ebebeb;
    // font-size: 2rem;
    // margin-top: -80px;
    // margin-bottom: 70px;
    // margin-left: calc(50vw - 50px);
}


.scriptType {
    font-family: $emphFont;
}

@media screen and (max-width: 1243px) {
    .sectionBuff {
        padding: 70px;
    }
}

@media screen and (max-width: 600px) {
    .sectionBuff {
        padding: 30px;
    }
}
@media screen and (max-width: 400px) {
    .sectionBuff {
        padding: 10px;
    }
}